extends layout


block contenido

    section.SeccionProducto
        .Contenedor.ContenedorProducto(data-id=Producto.Id)
            .ImagenCont
                .Imagen
                        img.ImagenProducto.SliderImg.show(src=`/img/Celulares/${Producto.Imagen}/${Producto.Imagen}.jpg` alt=Producto.Titulo)
                        img.SliderImg(src=`/img/Celulares/${Producto.Imagen}/${Producto.Imagen}-2.jpg` alt=Producto.Titulo)
                        img.SliderImg(src=`/img/Celulares/${Producto.Imagen}/${Producto.Imagen}-3.jpg` alt=Producto.Titulo)
                .CambiarFoto
            // Fin Div Imagen
            .InformacionCont
                .InformacionTarta
                    a(href=`/Producto/Editar/${Producto._id}`) 
                        i(class="fa fa-ellipsis-vertical BtnEditarProducto")
                    .PrecioNombre
                        h2.ProductoNombre.NombreTarta= Producto.Titulo
                        p.PrecioProducto.Precio $
                            span= Producto.Precio
                    .Compra
                        .Cantidad
                            label(for='Cantidad') Cantidad:
                            input#Cantidad.InputCantidad.CantidadCarrito(type='number' name='Cantidad' min='1' value="1")
                        
                        .AgregarCarrito
                            button.BtnProductos.Boton.BtnCarrito(name='BtnAccion' type='button' value='Agregar')
                                span Agregar Al Carrito
                    p.Descripcion= Producto.Descripcion
